<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>
    <add key="CslaAuthentication" value="Csla" />
  </appSettings>
  <dataConfiguration defaultDatabase="DataServer" />
  <connectionStrings>
    <add name="DataServer" connectionString="Data Source=db515.72dns.net;Initial Catalog=db_tdmis;Persist Security Info=True;User ID=tdmis;Password=yqib5f"
      providerName="System.Data.SqlClient" />
    <add name="DataSource" connectionString="db.mdb" providerName="" />
  </connectionStrings>
</configuration>